<div class="homePageBackground" ng-click="toggleMenu()">

	<h1 id="homePageHeader">Testprojekt<small>mitt testprojekt</small></h1>
    <div ng-controller="loginController">
        <span style="color: white;">Logged in as {{auth.profile.nickname}}</span>
    </div>
</div>

<div class="homePageContent">
	<a class="arrow-wrap" scroll-to="pageContent" easing="'easeInOutCubic'" href="">
		<span class="arrow"></span>
	</a>


		<div class="container">
			<h1 id="pageContent">Bacon</h1>
			<div>
				Bacon ipsum dolor amet boudin ground round bacon, jowl fatback sirloin pastrami ham hock alcatra landjaeger. Ground round pork jerky tenderloin leberkas spare ribs tri-tip salami. Shank pork chop pork belly ribeye boudin pastrami tail chicken bacon shoulder spare ribs kielbasa kevin. Biltong jerky pastrami ribeye cow bacon.

		Meatball leberkas t-bone, shoulder tenderloin porchetta ground round pancetta andouille turkey cow drumstick. Capicola ham pork chop short ribs. Jerky short loin corned beef tongue landjaeger frankfurter doner swine picanha boudin short ribs beef ground round pork chop. Picanha ham hock tongue, flank pork loin corned beef swine frankfurter hamburger turducken fatback jowl short ribs shank. Tongue pork strip steak brisket landjaeger leberkas. Ham cow jowl, doner bacon capicola fatback chuck ham hock pork loin porchetta andouille spare ribs.
			</div>

			<div>
				<p>
					Bacon ipsum dolor amet prosciutto alcatra beef ribs pork belly pastrami meatloaf flank. Shankle alcatra hamburger tenderloin boudin jerky, short ribs corned beef. Landjaeger salami sausage, meatball drumstick kielbasa chicken venison corned beef picanha shoulder. Tongue kielbasa ham hock pork belly pork pig flank strip steak pancetta landjaeger filet mignon ham sirloin jowl cupim.
				</p>

				<p>
					Tri-tip porchetta picanha hamburger tail jerky brisket bresaola venison kevin short ribs shoulder pastrami. Meatball beef kielbasa cupim andouille swine rump tri-tip turducken jerky corned beef. Hamburger cupim frankfurter, doner corned beef porchetta andouille bresaola pork loin. Meatloaf sirloin flank drumstick, andouille jowl jerky pork loin prosciutto turducken porchetta biltong. Meatball pig brisket, beef ribs beef jerky shankle.
				</p>


				<h2>Kotlett</h2>
				<p>
					Pörchetta andouille ball tip, strip steak alcatra salami sirloin pork. Tenderloin salami beef ribs tail ham andouille. Venison pork loin shank strip steak tri-tip brisket, meatloaf tenderloin capicola pork belly corned beef chicken. Venison leberkas meatloaf boudin shank biltong ground round turkey cow ham bresaola pork loin tenderloin short ribs. Andouille brisket pastrami, pork loin short ribs ribeye strip steak. Shoulder filet mignon kielbasa pig, ribeye venison boudin doner swine spare ribs pancetta shankle kevin pork belly. Short loin tail pig meatball shoulder.
				</p>

				<p>
					Pork loin meatloaf t-bone capicola pork belly venison. Prosciutto salami shank turkey, shoulder pork loin tri-tip tail pancetta cow ham. Sirloin cupim jowl swine, tri-tip meatball pancetta ribeye salami landjaeger drumstick. Porchetta tongue chuck pork chop venison kevin meatball cow t-bone cupim pig spare ribs. Tongue chicken porchetta t-bone.
				</p>

				<p>
					Ham hock boudin tri-tip meatloaf beef, chuck tongue. Turkey tenderloin capicola, filet mignon ground round shank beef tongue swine chicken alcatra ball tip bresaola short loin shoulder. Flank meatloaf short loin beef leberkas pork belly andouille t-bone kielbasa venison hamburger alcatra. Pork loin pork belly salami tongue landjaeger jowl turkey leberkas beef ribs tail brisket shoulder meatball swine. Hamburger strip steak boudin filet mignon tri-tip bacon shankle doner capicola rump.
				</p>
			</div>
			<img style="float: left" class="img-responsive" src="svinstark.jpg">
		</div>


</div>

  				






