<!-- 
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/nutrition">Nutrition</a></li>
        <li><a href="#/bmi">BMI</a></li>
        <li><a href="#/bmr">BMR</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Svinstark</a></li>
      </ul>
    </div>
  </div>
</nav> -->


<div id="container" ng-controller="menuController">
        <div id="canvas">
            <div id="nav">
                    <h2 id="title"><i class="fa fa-sitemap"></i> MENU</h2>
                         <ul id="toggle">
        <li>
            <div class="active border">
                <span class="menu-icons fa fa-home"></span>   <a href="#">HOME</a>
            </div>
        </li>
        <li>
            <div>
                <span class="menu-icons  fa fa-user"></span>   <a href="#/bmi">BMI</a>
                <span class="the-btn fa fa-plus"></span>
                </div>
            <ul>
                <li>
                    <a href="#">OUR TEAM</a>
                </li>
                <li>
                    <a href="#">OUR SERVICES</a>
                </li>
            </ul>
        </li>
        <li>
            <div>
                <span class="menu-icons  fa fa-briefcase"></span>
                    <a href="#/bmr">BMR</a><span class="the-btn fa fa-plus"></span>
            </div>
            <ul>
                <li>
                    <a href="#">WEB DESIGN</a>
                </li>
 
                <li>
                    <a href="#">GRAPHIC DESIGN</a>
                </li>
            </ul>
        </li>
        <li>
            <div>
                <span class="menu-icons  fa fa-envelope"></span>
                      <a href="#/nutrition">Nutrition</a>
            </div>
        </li>
    </ul>
             </div>
            <a href="" class="toggle-nav" id="bars"><i class="fa fa-bars"></i></a>
       </div>
    </div>