
    <div class="parallax-main">
        <div id="group1" class="parallax-group">
            <div id="content1" class="content content-base">
                <div class="container">
                    <div class="row" style="padding-top: 100px;">
                        <div class="col-lg-4 col-lg-offset-4">
                            <label>Workout name</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter workout name">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 100px;">
                        <div class="col-md-4 col-md-offset-2">
                            <label>Amount of weeks</label>
                            <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="How many weeks does the workout last?">
                        </div>
                        <div class="col-md-2 col-md-offset-0">
                            <label>Workouts per week</label>
                            <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="How many workout sessions per week?">
                        </div>
                        <div class="col-md-2 col-md-offset-0">
                            <label>Choose progression</label>
                            <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
                            <a href="" scroll-to="content2">KLICKA</a>
                        </div>
                    </div>
                </div>
                <a class="arrow-wrap" scroll-to="content2" easing="'easeInOutCubic'" href="">
                    <span class="arrow"></span>
                </a>
            </div>
        </div>
        <div class="parallax-image color-img"></div>
        <div id="group2" class="parallax-group">
            <div id="content2" class="content content-base">
                <div class="container">
                    <div class="row" style="padding-top: 100px;">
                        <div class="col-lg-4 col-lg-offset-4">
                            <label>Workout name</label>
                            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter workout name">
                        </div>
                    </div>
                    <div class="row" style="padding-top: 100px;">
                        <div class="col-md-4 col-md-offset-2">
                            <label>Amount of weeks</label>
                            <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="How many weeks does the workout last?">
                        </div>
                        <div class="col-md-2 col-md-offset-0">
                            <label>Workouts per week</label>
                            <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="How many workout sessions per week?">
                        </div>
                        <div class="col-md-2 col-md-offset-0">
                            <label>Choose progression</label>
                            <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
                            <a href="" scroll-to="content2">KLICKA</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content content-back">
                Content 2 Background
            </div>
        </div>
        <!--<div class="parallax-image soccer-ball-img"></div>-->
        <div id="content3" class="content">
            Content 3
        </div>
        <div class="parallax-image url-img"></div>
        <div id="content4" class="content">
            Content 4
        </div>
    </div>
