<div class="workoutContainer">
    <div id="slide1Bg" class="blur"> </div>
    <div id="slide1" class="container createWorkoutContainer slide" style="height:70vh;">
        <div class="page-header">
            <h1>Enter workout information</h1></div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-lg-4 col-lg-offset-4">
                <label>Workout name</label>
                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter workout name">
            </div>
        </div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4 col-md-offset-2">
                <label>Amount of weeks</label>
                <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="How many weeks does the workout last?">
            </div>
            <div class="col-md-2 col-md-offset-0">
                <label>Workouts per week</label>
                <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="How many workout sessions per week?">
            </div>
            <div class="col-md-2 col-md-offset-0">
                <label>Choose progression</label>
                <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
            </div>
        </div>
        <a class="arrow-wrap-down" href="#" scroll-to="slide2" duration="3500" easing="easeInOutQuint">
            <span class="arrow"></span>
        </a>
    </div>

    <div id="slide2Bg" class="blur"></div>
    <div class="container createWorkoutContainer slide" id="slide2" style="height:100vh;">
        <a class="arrow-wrap-up" href="#" scroll-to="slide1Bg" duration="3500" easing="easeInOutQuint">
            <span class="arrow" id="arrow-up"></span>
        </a>
        <div class="row" style="padding-top: 250px;">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select week <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">All weeks</a></li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select session in week<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">All sessions</a></li>
                </ul>
            </div>
        </div>
        <div class="row" style="padding-top: 50px;">
            <div class="col-lg-3 col-xs-3">
                <div class="exerciseAccordion" ng-controller="createWorkoutAccordionController">
                    <table>
                        <tbody>
                            <tr ng-repeat="item in muscleGroups">
                                <td>
                                    {{item.Name}}
                                </td>
                                <td>
                                    <label>
                                        <input type="checkbox">
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-9 col-xs-9 exerciseAccordion">
                <div class="row" data-ng-repeat="set in set">
                    <div class="col-md-4 col-xs-4 col-md-offset-0" style="padding:1px;">
                        <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="Exercise">
                    </div>
                    <div class="col-md-2 col-xs-2 col-md-offset-0" style="padding:1px;">
                        <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="Intesity">
                    </div>
                    <div class="col-md-2 col-xs-2 col-md-offset-0" style="padding:1px;">
                        <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-xs-2 col-md-offset-0"><i class="fa fa-plus-circle" style="color: green;" ng-click="AddNewSet()"> Add set</i></div>
                    <div class="col-md-2 col-xs-2 col-md-offset-0"><i class="fa fa-minus-circle" style="color:red;" ng-click="RemoveSet()"> Remove set</i></div>
                    <div class="col-md-2 col-xs-2 col-md-offset-0">
                        <button class="btn btn-xs btn-success">Save exercise</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="slide3" class="slide">
    <div class="title">
        <h1>Slide 3</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis
            movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores
            perpetua cum at. Id viris docendi denique vim.</p>
    </div>
</div>


<!--<div id="title" class="slide header">
  <h1>Pure CSS Parallax</h1>
</div>-->
<!--<div class="workoutContainer">
<div id="slide1" class="slide">
    <div class="container-fluid createWorkoutContainer" style="height:100vh;">
        <div class="page-header">
            <h1>Enter workout information</h1></div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-lg-4 col-lg-offset-4">
                <label>Workout name</label>
                <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Enter workout name">
            </div>
        </div>
        <div class="row" style="padding-top: 100px;">
            <div class="col-md-4 col-md-offset-2">
                <label>Amount of weeks</label>
                <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="How many weeks does the workout last?">
            </div>
            <div class="col-md-2 col-md-offset-0">
                <label>Workouts per week</label>
                <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="How many workout sessions per week?">
            </div>
            <div class="col-md-2 col-md-offset-0">
                <label>Choose progression</label>
                <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
            </div>
        </div>
        <a class="arrow-wrap-down" href="#" scroll-to="content2" duration="3500" easing="easeInOutQuint">
            <span class="arrow"></span>
        </a>

    </div>
</div>

<div id="slide2" class="slide">
<div class="container-fluid createWorkoutContainer" id="content2" style="height:100vh;">
            <a class="arrow-wrap-up" href="#" scroll-to="slide1" duration="3500" easing="easeInOutQuint">
                <span class="arrow" id="arrow-up"></span>
            </a>
            <div class="row" style="padding-top: 160px;">
                <div class="col-lg-3 col-xs-3">
                    <div class="exerciseAccordion" ng-controller="createWorkoutAccordionController">
                        <script type="text/ng-template" id="group-template.html">
                            <div class="panel {{panelClass || 'panel-default'}}">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="color:#fa39c3">
                                            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
                                                ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
                                            </h4>
                                </div>
                                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                    <div class="panel-body" style="text-align: right" ng-transclude></div>
                                </div>
                            </div>
                        </script>

                        <uib-accordion close-others="oneAtATime">
                            <uib-accordion-group ng-repeat="item in muscleGroups | orderBy: 'Name'" heading="{{item.Name}}" ng-click="GetExercisesByMuscleGroup(item)">
                                <table>
                                    <tr ng-repeat="exercise in exercises | orderBy: 'Name'">
                                        <td ng-click="SelectExercise(exercise)">{{exercise.Name}}</td>
                                    </tr>
                                </table>
                            </uib-accordion-group>
                        </uib-accordion>
                    </div>
                </div>

                <div class="col-lg-9 col-xs-9 exerciseAccordion">
                    <div class="row" data-ng-repeat="set in set">
                        <div class="col-md-4 col-xs-4 col-md-offset-0" style="padding:1px;">
                            <input ng-model="selectedExercise.Name" type="text" class="form-control" id="exampleInputEmail3" placeholder="Exercise">
                        </div>
                        <div class="col-md-2 col-xs-2 col-md-offset-0" style="padding:1px;">
                            <input ng-model="set.Intensity" type="text" class="form-control" id="exampleInputPassword3" placeholder="Intesity">
                        </div>
                        <div class="col-md-2 col-xs-2 col-md-offset-0" style="padding:1px;">
                            <input ng-model="set.Reps" type="text" class="form-control" id="exampleInputPassword3" placeholder="Reps">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-xs-2 col-md-offset-0"><i class="fa fa-plus-circle" style="color: green;" ng-click="AddNewSet()"> Add set</i></div>
                        <div class="col-md-2 col-xs-2 col-md-offset-0"><i class="fa fa-minus-circle" style="color:red;" ng-click="RemoveSet()"> Remove set</i></div>
                        <div class="col-md-2 col-xs-2 col-md-offset-0">
                            <button class="btn btn-xs btn-success">Save exercise</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<div id="slide3" class="slide">

</div>

<div id="slide4" class="slide header">

</div>-->